html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgba(71,75,70,1);
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 12px; 
    border: 1px sold #000;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(71,75,70,1); 
    border-radius: 6px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
    border-radius: 6px;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

h1 {
    font-family: Montserrat;
}

p {
    font-family: Karla;
}

.site_wrapper {
    margin: 0 auto;
    width: 95%;
    z-index: 1;
}

/*menu items*/

.header-menu {
    width: 100%;
    height: 70px;
    background-color: rgba(71,75,70,1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.header-menu-home {
    margin-left: 50px;
    width: fit-content;
    line-height: 70px;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}

.nav-image {
    height: 50px;
    width: 50px;
    display: block;
    margin: 10px;
    margin-left: 100px;
    position: relative;
    transition: all 0.4s;
}

.header-menu-items{
    width: 50%;
    padding-right: 50px;
}

.nav-image:hover,
.nav-image:focus {
    background-color: rgba(73,139,219,1);
}

.nav-image::after {
    content: '';
    height: 2px;
    width: 100%;
    background: rgba(73,139,219,1);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-image:hover::after,
.nav-image:focus::after {
    opacity: 1;
}

.header-menu-items ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}

.header-menu-items ul li {
    display: inline;
    float: left;
    margin: 0 10px;
}

.nav-link{
    padding: -0px 10px;
    font-family: Montserrat;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(73,139,219,1);
}

.nav-link::after {
    content: '';
    height: 2px;
    width: 100%;
    background: rgba(73,139,219,1);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

/*hero image*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}
  
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.hero-overlay-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
     
/*remainder of site*/

/* Map Div */

.map {
    height: 100vh;
    min-height: 500px;
    background-color: rgba(41,81,128,1);
    margin-top: 50px;
    color: #fff;
    overflow: visible;
    display: flex;
    z-index: 1;
}

.map h1 {
    padding-left: 50px;
}

.map-image img:first-child {
    height: 100%; 
    width: auto; 
    position: relative; 
    left: 100px; 
    top: 100px; 
    margin-left: -10%;
    z-index: 1;
}

.map-image img:last-child {
    height: 500px;
    position: fixed;
    z-index: 2;
}

/* Lifestyle Div */

.lifestyle {
    height: 110vh;
    min-height: 500px;
    background: rgba(255,236,185,1);
    color: #000;
    z-index: 2;
}

.lifestyle-div {
    display: flex;
    width: 100%;
}

.lifestyle-div1 {
    flex: 1;
    padding: 10px;
    padding-left: 50px;
    width: 40%; /* Adjust the width as needed */
}

.lifestyle-div2 {
    flex: 1;
    padding: 10px;
    width: 60%; /* Adjust the width as needed */
}

/*Lifestyle Carousel*/

.container-l {
    padding: 2rem;
}

.slider-wrapper-l {
    position: relative;
    width: 70%;
    max-width: 80rem;
    margin: 0 auto;
}

.slider-l {
    display: flex;
    flex-wrap: nowrap;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

.slider-l img {
    flex: 0 0 auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav-l {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.slider-nav-l a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav-l a:hover {
    opacity: 1;
}

/* History Div */

.history {
    height: 100vh;
    background: rgba(73,139,219,1);
    color: #fff;
    min-height: 500px;
}

.history-div {
    display: flex;
    width: 100%;
}

.history-div1 {
    flex: 1;
    padding: 10px;
    padding-left: 50px;
    width: 40%; /* Adjust the width as needed */
}

.history-div2 {
    flex: 1;
    padding: 10px;
    width: 60%; /* Adjust the width as needed */
}

/*History Carousel*/

.container-h {
    padding: 2rem;
}

.slider-wrapper-h {
    position: relative;
    width: 70%;
    max-width: 80rem;
    margin: 0 auto;
}

.slider-h {
    display: flex;
    flex-wrap: nowrap;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

.slider-h img {
    flex: 0 0 auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav-h {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.slider-nav-h a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav-h a:hover {
    opacity: 1;
}

/* Visit Div */

.visit {
    height: 100vh;
    min-height: 500px;
    background: rgba(224,130,96,1);
    color: #000;
    margin-bottom: 50px;
    overflow: hidden; /* Add this to hide overflow */
}

.visit_grid {
    margin-top: -10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    justify-items: center;
    align-items: center;
    grid-gap: 0;
    height: auto; /* Adjusted height */
    z-index: 1;
    position: relative;
}

.visit_grid h1 {
    text-align: center;
    margin: 0; 
}

.accomodations img,
.currency img,
.attractions img,
.flights img {
    height: 20vh; /* Adjusted height */
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.accomodations { 
    margin-top: 50px; 
}

.accomodations:hover {
    border: 2px solid black;
}
  
.accomodations:focus {
    border: 2px solid black;
    outline: none; 
}

.accomodations a { 
    text-decoration: none;
    color: #000;
}

.accomodations img {
    align-self: center;
}

.currency { 
    margin-top: 50px;  
}

.currency:hover {
    border: 2px solid black;
}
  
.currency:focus {
    border: 2px solid black;
    outline: none; 
}

.currency a {
    text-decoration: none;
    color: #000;
}

.attractions { 
    margin-top: 50px; 
}

.attractions:hover {
    border: 2px solid black;
}
  
.attractions:focus {
    border: 2px solid black;
    outline: none; 
}

.attractions a {
    text-decoration: none;
    color: #000;
}

.flights {
    margin-top: 50px; 
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.flights:hover {
    border: 2px solid black;
}
  
.flights:focus {
    border: 2px solid black;
    outline: none; 
}

.flights a {
    text-decoration: none;
    color: #000;
}


/* Media Queries */

@media only screen and (min-width:300px) and (max-width: 950px) {
    
    ::-webkit-scrollbar {
        width: 6px; 
        border: 1px sold #000;
    }

    .header-menu-home {
        margin-left: 0px;
    }

    .nav-image {
        margin-left: 10px;
    }
    
    .header-menu-items{
        width: 50%;
        padding-right: 20%;
    }

    .map {
        height: 180vh;
        display: block;
    }

    .map h1 {
        padding-left: 10px;
    }

    .map-image img:first-child {
        width: 80vw;
        height: auto;
    }

    .lifestyle {
        height: 180vh;
    }

    .lifestyle-div {
        flex-direction: column;
        align-items: center;
    }
    
    .lifestyle-div1 {
        width: 90%;
    }

    .lifestyle-div2 {
        width: 100%;
    }

    .history {
        height: 180vh;
    }

    .history-div {
        flex-direction: column;
        align-items: center;
    }

    .history-div1 {
        width: 90%;
    }

    .history-div2 {
        width: 100%;
    }

    .visit {
        height: 180vh;
    }

    .visit_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}