html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgba(71,75,70,1)
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

h1 {
    font-family: Montserrat;
}

p {
    font-family: Karla;
}

.site_wrapper {
    margin: 0 auto;
    width: 95%;
}

/*menu items*/

.header-menu {
    width: 100%;
    height: 70px;
    background-color: rgba(71,75,70,1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.header-menu-home {
    margin-left: 50px;
    width: fit-content;
    line-height: 70px;
}

.header-menu-home img {
    color: #fff;
    height: 50px;
    width: 50px;
    display: block;
}

.header-menu-home img:hover {
    color: #fff;

}

.header-menu-items{
    width: 50%;
    padding-right: 50px;
}

.header-menu-items ul {
    list-style: none;
}

.header-menu-items ul li {
    display: inline;
    float: left;
}

.header-menu-items ul li a {
    padding: -0px 10px;
    font-family: Montserrat;
    text-decoration: none;
    line-height: 70px;
    color: #fff;
    display: block;
}

.header-menu-items ul li a:hover {
    color: rgba(73,139,219,1);
}

/*hero image*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
     
/*remainder of site*/

/* Map Div */

.map {
    height: 100vh;
    background-color: rgba(41,81,128,1);
    margin-top: 50px;
    color: #fff;
    overflow: visible;
    display: flex;
    z-index: 2;
}

.map h1 {
    padding-left: 50px;
    padding-top: 50px;
}

.map img {
    height: 110%;
    position: absolute;
    overflow: visible;
    padding-left: 100px;
    padding-top: 100px;
}

/* Lifestyle Div */

.lifestyle {
    height: 100vh;
    background: rgba(255,236,185,1);
    color: #000;
    z-index: -1;
}

.lifestyle h1 {
    padding-left: 50px;
    padding-top: 0px;
}

.lifestyle p {
    padding-left: 50px;
}

.lifestyle-div {
    display: flex;
}
  
.lifestyle-div1 {
    margin-top: 50px;
    flex: 1;
    padding: 10px;
    margin: 5px;
}

.lifestyle-div2 {
    flex: 1;
    padding: 10px;
    margin: 5px;
    margin-top: -100px;
}

/*Lifestyle Carousel*/

.container-l {
    padding: 2rem;
}

.slider-wrapper-l {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
}

.slider-l {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

.slider-l img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav-l {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-l a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav-l a:hover {
    opacity: 100%;
}

/* History Div */

.history {
    height: 100vh;
    background: rgba(73,139,219,1);
    color: #fff;
}

.history-div {
    display: flex;
}
  
.history-div1 {
    flex: 1;
    padding: 10px;
    margin: 5px;
}

.history h1 {
    padding-left: 50px;
    margin-top: -50px;
}

.history p {
    padding-left: 50px;
    width: 70%;
}

.history-image-container {
    max-width: 70%;
    overflow: hidden;
    padding-left: 50px;
    z-index: 1;
}

.history-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.history-div2 {
    flex: 1;
    padding: 10px;
    margin: 5px;
}

/*History Carousel*/

.container-h {
    padding: 2rem;
}

.slider-wrapper-h {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
}

.slider-h {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

.slider-h img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav-h {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-h a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav-h a:hover {
    opacity: 100%;
}

/* Visit Div */


.visit {
    height: 100vh;
    background: rgba(224,130,96,1);
    color: #000;
    margin-bottom: 50px;
}
    

.visit_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    justify-items: center;
}

.visit_grid p {
    text-align: center;
}

.accomodations {
    margin-top: -20%;
    object-fit: cover;
    max-height: 100%;
}

.accomodations img{
    height: 70%;
}

.currency {
    margin-top: -20%;
    object-fit: cover;
    max-height: 100%;
}

.currency img {
    height: 70%;
}

.attractions {
    margin-top: -15%;
    object-fit: cover;
    max-height: 100%;
}

.attractions img {
    height: 70%;
}

.flights {
    margin-top: -15%;
    object-fit: cover;
    max-height: 100%;
}

.flights img {
    height: 70%;
}

/* Media Queries */

@media only screen and (min-width: 300px) and (max-width: 600px) {
    
}